body {
  background-color: white;
}
.logoContainer{
    background-color: #D61471;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px !important;
    padding-bottom: 15px !important; 
    font-weight: bold;
    transition: 0.9s;
    font-size: 23px !important;
}
.logoContainer:hover{
    cursor: pointer;
    color: lightgray;
    padding-left: 65px;
    padding-right: 65px;
    transition: 0.9s;
}
.menuItem{
    color: black !important;
} 